*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	line-height: 1;
	background-color: gray;
}
.container{
	width: 70%;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.header, .footer{
		background-color: #FF8C00;
		padding: 20px 0;
		color: #FFFFFF;
}
.menu li{
	display: inline-block;
	margin-right: 30px;
	margin-left: 20px;
}
.menu li a{
	text-decoration: none;
	color:#FFFFFF;
    font-size: 20px;
}
.menu li.active a, .menu li a:hover{
	text-decoration: underline;
}
.main:after{
	clear:both;
	display: block;
	content: "";	
} 
.left_block{
	width: 70%;
	float: left;
}
.right_block{
	width: 30%;
	float: left;
	padding-right: 20px;
}
p{
	text-align: justify;
	padding: 10px 0 10px 0;
}
.right_block p{
	padding: 5px 0 5px 0;
}
.left_block{
	padding: 0 20px 20px 20px;
}
img{
	width: 100%;
}
h2{
	padding: 10px 0 10px 0;
}
h3{
	padding: 10px 0 10px 0;
}
.footer p{
	margin: auto;
	text-align: center;
}
table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px;
	text-align: center;
}
td{
	border: 1px solid black;
}
table tr:first-child{
	background-color: #DCDCDC;
	font-weight: bold;
}

